* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --hue: 195;

    --base-color-white: hsl(0, 0%, 100%);
    --base-color-blue: hsla(var(--hue), 91%, 25%, 1);
    --input-color: hsla(var(--hue), 46%, 40%, 1);
    --title-color: hsl(240, 6%, 13%);
    --text-color: hsl(240, 7%, 8%);
}

html, body, input {
    font-family: 'Mulish', sans-serif;
}

body {
    background-color: var(--base-color-white);
    color: var(--text-color);
    font-size: 1.6rem;
}

.text {
    line-height: 2.5rem;
}

#app {  
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

main .container {
    max-width: 43rem;
}

.main, .others {
    padding: 0 2.2rem;
}

.image {
    width: 100%;
    margin-bottom: 4rem;
}

.maincat {
    width: 100%;
    object-fit: contain;
}

header {
    width: 100%;
    padding: 2.8rem 1.5rem;

    height: 7.2rem;
    background-color: var(--base-color-blue);
}

header, 
nav {
    display: flex;
    align-items: center;
    gap: 2.55rem;
}

header form {
    flex: 1;
}

nav {
    width: 100%;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    width: 100%;
    height: 4rem;
    padding: 1.2rem 1.6rem;
    
    background-color: var(--input-color);
    border: 0;
    border-radius: .4rem;
    
    font-size: 1.6rem;
    font-weight: 600;
}

.input-wrapper input::placeholder {
    color: var(--base-color-white);
}

nav .img {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}

.title {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
}

main {
    overflow-y: scroll;
    background-color: var(--base-color-white);
}

main .icons {
    display: flex;
    gap: 1.2rem;
}

.article .title {
    margin-bottom: .8rem;
}

.article p {
    margin: 3.2rem 0;
}

.others {
    display: flex;
    flex-direction: column;
    gap: 3.2rem 0;
    margin-bottom: 4rem;
}

.others figure {
    width: 100%;
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.others figure img {
    width: 15rem;
    height: 8.4rem;
}

.others figure h2 {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;

    line-height: 2.24rem;
}

.others figure p {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;

    line-height: 2.24rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.6rem;
    width: 100%;
    height: 6.4rem;

    background-color: var(--base-color-blue);
}

footer p {
    color: var(--base-color-white);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
}

@media (min-width: 1440px) {

    .first {
        display: flex;
        justify-content: space-between;
    }
    
    main .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-areas: 
        "A A B"
        "C C B"
        "C C D";
    }

    .image {
        grid-area: A;
    }

    .article {
        grid-area: C;
    }

    .others {
        grid-area: B;
    }

    main {
        padding: 4.4rem 10.9rem;
    }

    header nav{
        height: 7.2rem;
        padding: 1.2rem 11.2rem;
    }

    footer {
    }
}